* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Mulish', sans-serif;
}

body {
  background: #121214;
  display: grid;
  justify-content: center;
  padding: 72px 104px 114px;
}

header h1 {
  color:#02799D;
  font-size: 56px;
  font-weight: 900;
  line-height: normal;
}

header p {
  color: #E1E1E6;
  font-size: 32px;
  font-weight: 600;
  line-height: normal;

  margin-top: 8px;
}

main {
  margin-top: 62px;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 48px 60px;
}

.card {
  background: #323238;
  border-radius: 8px;
  border: 2px solid #202024;
  overflow: hidden;
}

main h2 {
  color: #E1E1E6;
  font-size: 36px;
  font-weight: 900;
  line-height: normal;
  margin: 24px 32px 0;
}

main p {
  color: #C4C4CC;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 24px 32px 24px;
}

@media (max-width: 1420px) {
  main {
    grid-template-columns: repeat(2, 370px);
  }
}

@media (max-width: 860px) {
  main {
    grid-template-columns: repeat(1, 370px);
    justify-content: center;
  }
}

@media (max-width: 375px) {
  body {
    padding: 50px 200px;
  }
}

